<!--
  In an "h2" tag, tell the user whether or not they won or lost.
-->

<!--
  Create a "p" tag that uses ERB to read the `@next_guess` variable and tells
  the user whether or not their next guess should be higher or lower.
-->

<h3><%= @loser_prompt %></h3>
<p>Try guessing <%= @next_guess %>.<p>