<!--
  There should be no need to edit this file.
-->

<html>
<head>
  <title>The Secret Number Game</title>
</head>
<body>
  <div style="text-align: center;">
    <br>
    <h1>The Secret Number Game</h1>
    <p>Guess a number below:</p>
    <a href="/guess/1">1</a>
    <a href="/guess/2">2</a>
    <a href="/guess/3">3</a>
    <a href="/guess/4">4</a>
    <a href="/guess/5">5</a>
    <a href="/guess/6">6</a>
    <a href="/guess/7">7</a>
    <a href="/guess/8">8</a>
    <a href="/guess/9">9</a>

    <%= yield %>
  </div>
</body>
</html>
